@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&display=swap');
:root {
    --main-bg-color: #bd6418;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.m-y-2 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.mx-1 {
    margin-left: 23px;
    margin-right: 23px;
}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--main-bg-color);
    background-color: rgb(194, 194, 194);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0px 13px;
    font-family: var(--font1);
}

.form-box input,
textarea {
    width: 52vw;
    padding: 0 6px;
    margin: 7px 0px;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
    border-radius: 10px;
}

.form-box textarea {
    height: 208px;
}

.center {
    text-align: center;
}